@import "tailwindcss";

.ubuntu-mono-regular {
    font-family: "Ubuntu Mono", serif;
    font-weight: 400;
    font-style: normal;
}

.sometype-mono-regular {
    font-family: "Sometype Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}